In [1]:
conjunto=set()
conjunto

set()

In [2]:
conjunto={1,2,3}
conjunto

{1, 2, 3}

In [3]:
conjunto.add(4)

In [4]:
conjunto

{1, 2, 3, 4}

In [5]:
conjunto.add(0)

In [6]:
conjunto

{0, 1, 2, 3, 4}

In [7]:
conjunto.add("H")
conjunto

{0, 1, 2, 3, 4, 'H'}

In [8]:
grupo={"Hector", "Juan", "Mario"}
"Hector" in grupo

True

In [9]:
test={"Hector", "Hector", "Hector"}
test

{'Hector'}

In [10]:
l=[1,2,3,3,2,1]
l

[1, 2, 3, 3, 2, 1]

In [11]:
c=set(l)
c

{1, 2, 3}

In [12]:
l=list(c)
l

[1, 2, 3]

In [13]:
l=[1,2,3,3,2,1]

In [14]:
l

[1, 2, 3, 3, 2, 1]

In [15]:
l=list(set(l))
l

[1, 2, 3]

In [16]:
s="Al pan pan y al vino vino"
set(s)

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}